<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{countForType('Space Debris')}}</span></div>
   <div>Communication: <span>{{countForType('Communication')}}</span></div>
   <div>Probe: <span>{{countForType('Probe')}}</span></div>
   <div>Positioning: <span>{{countForType('Positioning')}}</span></div>
   <div>Space Station: <span>{{countForType('Space Station')}}</span></div>
   <div>Telescope: <span>{{countForType('Telescope')}}</span></div>
</div>
