<!-- <p>orbit-list works!</p> -->

<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let satellite of satellites">
        <th [class.warning]='satellite.shouldShowWarning()'>{{satellite.name}}</th>
        <th [class.warning]='satellite.shouldShowWarning()'>{{satellite.type}}</th>
        <th [class.warning]='satellite.shouldShowWarning()'>{{satellite.operational}}</th>
        <th [class.warning]='satellite.shouldShowWarning()'>{{satellite.orbitType}}</th>
        <th [class.warning]='satellite.shouldShowWarning()'>{{satellite.launchDate}}</th>
   </tr>


</table>
